.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 75%;
    margin: auto;
    margin-top: 50px;
}
.card{
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: row;
    padding: 5px;

}
.card span{
font-weight: 600;
font-size: 20px;

}
.card img{
    width:20%
}

.card-container{
    max-height:80vh;
    overflow-y: scroll;
    padding: 10px;
}

.job-container{

    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.job-container h3{

   text-align: center;
}
.filter{
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: whitesmoke;
    width: 30%;
    padding: 25px 10px;

}